
.team-banner{
  background-image: url(scn-img/team-bg.jpg);
  background-attachment: fixed;
  background-position: center;
}
#box{
	position: relative;
  width: 100%;
  height: 334px;
}

.head-txt{
	position: absolute;
	left: 3%;
	right: 5%;
	top: 10%;
	letter-spacing: 1px;
}

#sub{
	display: flex;
	position: absolute;
	text-align: center;
	left: 30%;
	right: 30%;
	top: 55%;
}

#font1{
  font-family: pacifico;
  font-style: oblique;
  color: sienna;
  font-size: 25px;
}
#font2{
  font-family: noto;
  font-style: bold;
}
.main-txt hr{
  width:400px;
  border: none;
  color: black;
  background-color: black;
  text-align: center;
  border-radius: 5px;
  margin:0px auto;
}


@media only screen and (max-width: 1440px) and (min-width: 1024px){
	.head-txt{
	position: absolute;
	top: 20%;
	right:3%;
	}
	
}

@media only screen and (max-width: 768px) and (min-width: 320px){
	.head-txt{
	position: absolute;
	top: 13%;
	right:3%;
	bottom: 5%;
	}
	#subscribe{
		display: none;
	}  
}

.inner-img{
	border-radius: 50%;
	background-clip: border-box;
  width: 80px;
  height:80px;
    
}
#double-q{
    display: block;
    font-weight: bold;
    font-style: italic;
    content: "‘‘";
    text-align: center;
    font-size: 128px;
    height: 64px;
    line-height: 1em;
    margin-top: 25px;
    margin-bottom: 10px;
    overflow: hidden;
    color: #DEB887;
}

div#review {
  border: 10px none black;
  padding: 15px;
  background: white;
  background-clip: padding-box;
}

.arrow-left, .arrow-right {
   
    margin: 20% -20%;
    display: block;
    padding: 0px;
    text-align: center;
    width: 50px;
    height: 80px;
    line-height: 80px;
    font-size: 30px;
   
}

 .carousel-control-next-icon:after{
  content: '>';
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
}

#feedbackid{
	background-color:/*#FAFAD2*/#e8e2dc;
}

.team-img {
    margin: 0 auto;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
   /* max-width: 100%;*/
    height: 306px;
    width: 230px;
    
    background-clip: border-box;
    filter: grayscale(100%);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0px;
    border-radius: 6px;
    background-clip: border-box;
    overflow: hidden;

    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

.team-img:hover{
  filter: grayscale(0%);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
  padding: 5px;
}
/*----------------------footer---------------------------*/
.foot{
    background-color: #C7BEB5;
    padding: 35px 0 25px;
    font: 400 10px "Brandson Grotesque", noto;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1.6px;
}
#brandimg{
  width: 150px;
  height:150px;
  margin-top: -15px;
  margin-left: 50px;
  position: absolute;
}
.foot-icon{
  width: 30px;
  height: 30px;
  margin-top: 120px;
  text-align: center;
}

.vl {
  border-left: 1px solid grey;
  height: 100px;
  position: absolute;
  top: 0;
}
